<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%if message in message%}
<h5>{{message}}</h5>
{%else%}
<h1>Debit transactions </h1>

{%for transaction in dtransactions%}
<h3>{{transaction.amount}}</h3>
<h3>{{transaction.date}}</h3>
<h3>{{transaction.remarks}}</h3>
<h3>{{transaction.to_account}}</h3>
{% endfor%}
<h1>Credit transactions </h1>
{%for transaction in ctransactions%}
<h3>{{transaction.amount}}</h3>
<h3>{{transaction.date}}</h3>
<h3>{{transaction.remarks}}</h3>
<h3>{{transaction.to_account}}</h3>
{% endfor%}
{%endif%}
</body>
</html>