<!DOCTYPE html>
<head>
    <title>Account History</title>
</head>
{%extends 'mybank/base2.html'%}
{%block body_block%}
<!-- ======= Contact Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Payment history</h2>
            <ol>
                <li><a href="{%url 'base1' %}">Home</a></li>
                <li>History</li>
            </ol>
        </div>

    </div>
</section><!-- End Contact Section -->

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

        <div class="row" style="text-align:center;">
            {%if message in message%}
                <h5>{{message}}</h5>
            {%else%}
            <div class="col-lg-6">
                <table class="table">
                    <tr>
                        <td>Amount</td>
                        <td>Date</td>
                        <td>Remark</td>
                        <td>Account</td>
                    </tr>
                    <h5>Debit transactions </h5>
                    {%for transaction in dtransactions%}
                    <tr>
                        <td><h6>{{transaction.amount}}</h6></td>
                        <td><h6>{{transaction.date}}</h6></td>
                        <td><h6>{{transaction.remarks}}</h6></td>
                        <td><h6>{{transaction.to_account}}</h6></td>
                    </tr>
                    {% endfor %}
                </table>


            </div>

            <div class="col-lg-6">
                <table class="table">
                    <tr>
                        <td>Amount</td>
                        <td>Date</td>
                        <td>Remark</td>
                        <td>Account</td>
                    </tr>
                    <h5>Credit transactions </h5>
                    {%for transaction in ctransactions%}
                    <tr>
                        <td><h6>{{transaction.amount}}</h6></td>
                        <td><h6>{{transaction.date}}</h6></td>
                        <td><h6>{{transaction.remarks}}</h6></td>
                        <td><h6>{{transaction.to_account}}</h6></td>

                    </tr>
                    {% endfor %}
                </table>

                </form>
            </div>
            {%endif%}
        </div>

    </div>
</section><!-- End Contact Section -->
{%endblock%}