<!DOCTYPE html>
<head>
    <title>Create Account</title>
</head>
{%extends 'mybank/base2.html'%}
{%block body_block%}
    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Create Account</h2>
          <ol>
            <li><a href="{%url 'base1' %}">Home</a></li>
            <li>Account</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <form action="" method="post" >
              {%csrf_token%}
              {{form.as_p}}
<!--              <div class="form-group mt-3">-->
<!--                {{form.account_number}}-->
<!--              </div>-->
<!--              <br>-->
<!--              <div class="row">-->
<!--                <div class="col-md-6 form-group">-->
<!--                  {{form.user}}-->
<!--                </div>-->
<!--                <div class="col-md-6 form-group mt-3 mt-md-0">-->
<!--                  {{form.balance}}-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                  {{form.ac_type}}-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                {{form.active_status}}-->
<!--              </div>-->
<!--              <br>-->

              <div>
                <input type="submit" value="Create">
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{%endblock%}